name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade wheel
          pip install -r requirements.txt
          pip install reportlab
          pip install pyinstaller

      - name: Build exe
        run: pyinstaller run.py --onefile --icon dance_ai_app/app.ico --add-data "dance_ai_app;dance_ai_app" --hidden-import mediapipe --hidden-import cv2 --hidden-import pandas --hidden-import numpy --hidden-import plotly --hidden-import reportlab --collect-all streamlit --collect-all reportlab --collect-all mediapipe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dance-ai-app-win
          path: dist/run.exe
